.product-list-container {
  display: flex;
}

.category-sidebar {
  width: 250px;
  height: 100%;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  width: 90%;
  flex: 1;
  align-content: flex-start;
  padding-right: 3%;
}

.category-card {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.category-card:hover {
  transform: translateY(-2px);
  background-color: #f0f0f0;
}

.category-card.selected {
  background-color: #007bff;
  color: white;
}

.sort-options {
  margin-top: 20px;
}

.sort-options button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.sort-options button:hover {
  background-color: #218838;
}

.product-card {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-card a:hover {
  text-decoration: none;
}

.product-card h2 {
  margin: 0;
  color: #000000;
  font-size: 1.2rem;
}

.product-card p {
  margin: 5px 0;
  color: #6a6a6a;
}

.product-header {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
